@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "playfair";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-900 max-w-[1440px] mx-auto;
}

/* Firefox */
#sidebar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* WebKit (Chrome, Safari) */
#sidebar::-webkit-scrollbar {
  width: 6px;
}

#sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p,
li,
button {
  @apply font-quicksand;
}

p {
  @apply leading-7 text-slate-400 font-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-playfair tracking-[0.2em] text-white;
}

.sidebarLink {
  @apply lg:my-3 my-2 cursor-pointer uppercase text-xs tracking-widest text-slate-400 hover:text-blue-400 border-b border-slate-800 hover:border-blue-400 py-1;
}

/*.active {
    @apply border-b text-blue-400 border-blue-400 transition duration-300 ease-in;
}*/

.smallHeading {
  @apply text-xs text-gray-400 uppercase tracking-[0.4em];
}

.heading {
  @apply text-xl font-bold uppercase mt-4;
}

input,
textarea {
  @apply py-4 px-6 bg-gray-100 text-gray-400 w-full mb-4 rounded;
}

button {
  @apply transition duration-300 ease-in rounded cursor-pointer;
}
